body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    width: inherit;
    font-size: 64px;
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    margin: 20px;
    height: 100%
}

.left-menu {
    list-style-type: none;
}

.left-menu > li {
    margin: 8px;
    font-size: 24px;

}

.list {
    margin: 5px;
}

#input-task {
    display: flex;
    justify-content: center;
    width: 670px;
    height: 30px;
    margin: 10px;
    font-size: 1rem;
}

#todo-list, #done-list {
    background-color: azure;
    border: 1px solid black;
    list-style-type: none;
    padding: 0;
    width: 700px;
}

.todo-item, .done-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px solid black;
}

.todo-item, .done-item:hover {
    cursor: pointer;
}

.todo-item, .done-item > p {
    padding-left: 8px;
}

.done-item > p {
    text-decoration: line-through;
}